@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/DroidSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jolly Lodger';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/JollyLodger-Regular.ttf') format('truetype');
}

